@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@400;500;550;700&display=swap');

:root {
    --primary: #E9E9E9;
    --poppins : 'Poppins', sans-serif;
    --architects:  'Architects Daughter', cursive;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    quotes: none;
    text-decoration: unset;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    position: relative;
    background-color: #fff;
    margin: 0px auto;
    overflow-x: hidden;
    padding: 0 15px;
    background: var(--primary);
    font-family: var(--poppins);
}



#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.brand {
  margin-right: 20px;
}

.brand a {
  font-family: var(--architects);
  font-size: 1.2rem;
}

#nav form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;

}

#nav form input {
  width: 100%;
  padding: 10px 15px;
  text-indent: 25px;
   border-radius: 5px;
   box-shadow: 0px 1px 5px 3px rgba(0,0,0,.1);
}

#nav form svg {
  width: 23px;
  left: 5px;
  position: absolute;
  background-color: white;
}

#hero {
  padding: 20px 0;
}

.swiper-container-1 {
  width: 100%;
  height: 100%;

}

.swiper-container-1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 300px;


  /* Center slide text vertically */
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;*/
   align-items: center;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
}

.img  img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0,0,0,.4);
}

.text-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%,-50%);
}

.text-banner h5 {
  color: white;
  font-size: 1.8rem;
  padding: 5px 0;
}

.text-banner p {
  color: white;
  font-size: .95rem;
    padding: 5px 0;
}

.text-banner span {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: yellow;
  font-size: .95rem;
  font-style: italic;
    padding: 5px 0;
}

.text-banner button {
  padding: 8px 20px;
  margin: 5px 0;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-family: var(--poppins);
  font-size: .8rem;
  font-weight: bold;
  background-color: var(--primary);
  cursor: pointer;

}


#category {
  padding: 20px 0;
}

.head-category {
  text-align: center;
  margin-bottom: 20px;
}

.head-category h3 {
  font-weight: 500;
}

.card-category {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  place-items: center;
  /*width: 300px;*/
  margin: auto;
}

.item-category {
  background-color: white;
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,.1);
}

.item-category img {
  width: 50px;
  object-fit: cover;
}


#new-menu, #popular-menu {
  padding: 20px 0;
}

.head-new, .head-popular {
  padding-bottom: 20px;
}

.head-new h2, .head-popular h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

 .swiper-container-new,  
 .swiper-container-popular {
  width: 100%;
  height: 170px;
}

.swiper-container-new .swiper-slide, 
.swiper-container-popular .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 170px !important;
  cursor: pointer;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
     border-radius: 10px;
   overflow: hidden;
}


#you-like {
  padding: 20px 0;
}

.head-you-like {
  padding-bottom: 20px;
}


.head-you-like h2 {
  font-size: 1.3rem;
  font-weight: 500;
}


.body-you-like {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  gap:20px;
}

.product-random {
  grid-column: span 6;
  width: 100%;
  height: 220px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

#bottom-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  /*background-color: #CCD6F6;*/
  background-color: white;
  /*background-color: black;*/
  box-shadow: 10px 0 10px 5px rgba(0,0,0,.1);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0 5px;
  z-index: 10;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

#bottom-navbar a {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#bottom-navbar a.active {
  color: black;
}

#bottom-navbar a svg {
  width: 27px;
}
#bottom-navbar a span {
  font-size: .7rem;
  padding-top: 5px;
}


#footer {
  padding: 20px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#footer h2 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

#footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer div span {
  color: grey;
  font-size: .9rem;
}

#footer div svg {
  width: 25px;
  margin-left: 5px;
}



@media screen and (min-width: 400px) {
  .card-category {
    width: 400px;
  }


}



@media screen and (min-width: 620px) {
   .product-random {
    grid-column: span 3;
  } 

    #bottom-navbar {
    width: 620px;
    margin: auto;
  }
}

@media screen and (min-width: 960px) {
  .product-random {
  grid-column: span 2;

 }
}